.input_style {
	width: 473px;
	height: 75.44px;
	background-color: #ffffff;
	border-radius: 25.1468px;
	padding: 27px 50px;
	border: none;
	color: #6c6c6c;
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
}
