.sales_card img {
	width: 319px;
	height: 276px;
	object-fit: cover;
}

.sales_card button {
	width: 279px;
	height: 72px;
	background: #f1fff1;
	border: 2px solid #339933;
	border-radius: 21px;
	color: #339933;
	position: absolute;
	bottom: 30px;
	left: 20px;
	opacity: 0;
}

.sales_card:hover button {
	opacity: 1;
	transition: opacity 0.5s;
}

.sales_card div:nth-child(1) {
	display: flex;
	position: relative;
}

.prices {
	display: flex;
	align-items: center;
	margin: 20px 0 10px 25px;
	gap: 33px;
}

.prices p:nth-child(1) {
	font-weight: 600;
	font-size: 30px;
}

.prices p:nth-child(2) {
	font-weight: 500;
	font-size: 20px;
	color: #8b8b8b;
}

.prices p:nth-child(3) {
	font-weight: 600;
	font-size: 20px;
	color: #ff32a1;
}

.sales_title p {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	max-width: 250px;
	margin: 10px 0 0 25px;
}
